*, ::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #8e9eab, #eef2f3);
}

nav {
  margin-bottom: 1rem;
  width: 100vw;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

#search-button:hover {
  background-color: transparent;
}

#gif-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90vw;
  gap: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.giphyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted #242424;
  text-align: center;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.giphyBox:hover {
  transform: scale(1.1);
}

.gif-image {
  width: 150px;
  aspect-ratio: inherit;
}
